# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript



trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'
- task: Application security testing@2020
  inputs:
    projectName: 'poc'
    enableSastScan: true
    CheckmarxService: 'Cx-SAST'
    fullTeamName: 'CxServer'
    enableDependencyScan: false
    
- script: |
    npm install
    npm run build
  displayName: 'npm install and build'
